<h1>Novi proizvod</h1>

<%= form_for :product, url: products_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
 
  <p>
    <%= f.label :location %><br>
    <%= f.text_field :location %>
  </p>

  <p>
    <%= f.label :dimensions %><br>
    <%= f.text_field :dimensions %>
  </p>

  <p>
    <%= f.label :cottage_type %><br>
    <%= f.select :cottage_type, [ 'eksterijer','interijer','proizvodnja' ], :prompt => 'Tip slike' %>
  </p>

  <p>
    <%= f.label :price %><br>
    <%= f.text_field :price %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
<% end %>