<p>
  <strong>Naziv:</strong>
  <%= @product.name %>
</p>
 
<p>
  <strong>Cijena:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Dimenzije:</strong>
  <%= @product.dimensions %>
</p>

<p>
  <strong>Tip:</strong>
  <%= @product.cottage_type %>
</p>

<p>
  <strong>Location:</strong>
  <%= @product.location %>
</p>